.*.sw?

# FIXME: don't copy plugins or themes around
/editions/public/plugins/
/editions/public/themes/

/editions/*/output/

/node_modules/

/hack/content/$__StoryList*.tid
/hack/content/-*
/hack/content/Draft of *.tid

/hack/content/$__BuildInfo.tid

/src/plugins/*/files/*.tmp-browserify-*
